<% title "Pending Alerts" %>

<hr>

<div class="media">
  <div class="media-body">
    <table class="table table-hover table-small">
      <thead>
        <tr>
          <th>Due date</th>
          <th>Alert</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @d_alerts.each do |d_alert| %>
          <tr>
            <td><%= d_alert.due_date %></td>
            <td><%= d_alert.recurring_alert.name %></td>
            <td><%= link_to 'Completed', completed_path(d_alert) %></td>
            <td><%= link_to 'Edit', edit_d_alert_path(d_alert) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>